:root {
    --pseudo-white: #FDFDFD;

    --main-blue: #2E58E2;
    --hard-blue: #123096;
    --soft-blue: #cbd6fc;

    --main-red : #F92525;

    --main-green : #29E635;
}

@font-face {
    font-family: "Just Another Hand";
    src: url("../fonts/JustAnotherHand-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Itim";
    src: url("../fonts/Itim-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Alkia";
    src: url("../fonts/Alkia.ttf") format("truetype");
}

body{
    background-color: var(--pseudo-white);
}

a.home_link{
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 100%;
    position: fixed;
    top: 10px;
    left: calc(50% - 50px)
}
.home{
    width: 100%;
    height: 100%;
    border-width: 5px;
    border-style: solid;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home img{
    width: 50px;
    height: 50px;
}