@font-face {
    font-family: "Just Another Hand";
    src: url("../fonts/JustAnotherHand-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Itim";
    src: url("../fonts/Itim-Regular.otf") format("opentype");
}