body{
    padding: 0;
    margin: 0;
}

.home{
    background-color: var(--soft-green);
    border-color: var(--hard-green);
}

.content{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.content h1{
    font-family: 'Just Another Hand';
    font-weight: 500;
    font-size: 90px;
}
.content h2{
    font-family: 'Just Another Hand';
    font-weight: 500;
    font-size: 48px;
    margin-top: 1vh;
    margin-bottom: 0;
}
.content p{
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: left;
    font-family:'Alkia';
    font-weight: 100;
    font-size: 22px;
}
.background_banner{
    position: absolute;
    width: 150vw;
    height: 25vh;
    min-height: 25vw;
    max-height: 35vw;
    left: -25vw;
    background-color: var(--main-green);
    z-index: -1;
    border-bottom-width: 10px;
    border-top-width: 10px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: var(--hard-green);
    transform: rotate(-5deg);
}

.content .intro{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}
.content .intro h2{
    margin-left: auto;
    padding-right: 10vw;
    color: var(--soft-green);
}
.content .intro p{
    color: var(--pseudo-white);
}

@media screen and (max-width: 800px) and (min-height : 900px){
    .background_banner{
        height: 45vh;
        max-height: 60vw;
    }
}
@media screen and (min-width: 1200px){
    .background_banner{
        min-height: 10vw;
    }
}

.audios{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:20px;
}
.audio-player {
    width: 500px;
    height: 200px;
    margin: auto;
    background-color: var(--soft-green);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--hard-green);
    font-family: sans-serif;
}
  
.play-pause {
    width: 150px;
    height: 150px;
    background: none;
    border: none;
    cursor: pointer;
}
img.play-pause-img{
    width: 100%;
    height: 100%;
}

.music-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
  
.progress-bar {
    flex-grow: 1;
    height: 10px;
    background-color: var(--pseudo-white);
    border-width: 5px;
    border-style: solid;
    border-color: var(--hard-green);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
  
.progress {
    height: 100%;
    background-color: var(--main-green);
    width: 0%;
    border-radius: 5px;
}

.volume{
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
}
.volume-icon{
    height: 80%;
    width: auto;
}
.volume-slider {
    width: 100px;
    cursor: pointer;
    
}
  