/*STYLE OF THE PAGE*/
body{
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.personal_infos{
    font-family: 'Just Another Hand';
    font-weight: 500;
    font-size: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.personal_infos img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}
h1{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 20px;
    font-family: 'Just Another Hand';
    font-weight: 500;
    font-size: 64px;
}

.choices{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}
.choices h2{
    margin: 0px;
}

.choices a{
    margin-left: 10%;
    margin-right: 10%;
    text-decoration: none;
    font-family: 'Itim';
    color: var(--pseudo-white);
    font-size: 30px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.choice{
    border-radius: 15px;
}

.choice img{
    border-radius: 15px;
    width: 100%;
}

.dev{
    background-color: var(--main-blue);
}
.draw{
    background-color: var(--main-red);
}
.music{
    background-color: var(--main-green);
}

.dev img{
    -webkit-mask-image: linear-gradient(transparent, black);
    mask-image: linear-gradient(transparent, black);
}

.draw img{
    -webkit-mask-image: linear-gradient(transparent, black);
    mask-image: linear-gradient(transparent, black);
}

.music img{
    -webkit-mask-image: linear-gradient(transparent, black);
    mask-image: linear-gradient(transparent, black);
}

footer{
    position:fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: var(--main-grey);
    font-family: Alkia;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (min-width: 1100px){
    .choices{
        flex-direction: row;
    }
    .choices a{
        margin-left: 2%;
        margin-right: 2%;
        font-size: 25px;
    }
}
/*END OF STYLE OF THE PAGE*/

/*ANIMATION OF CHOICES*/
.choices .overall_dev{
    animation-name: appearance_dev;
    animation-duration: 1.25s;
    animation-delay: 0s;
}
.choices .overall_draw{
    animation-name: appearance_draw;
    animation-duration: 1.75s;
    animation-delay: 0s;
}
.choices .overall_music{
    animation-name: appearance_music;
    animation-duration: 2.25s;
    animation-delay: 0s;
}

@keyframes appearance_dev {
    0%   {opacity: 0;}
    20%   {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes appearance_draw {
    0%   {opacity: 0;}
    35%   {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes appearance_music {
    0%   {opacity: 0;}
    50%   {opacity: 0;}
    100% {opacity: 1;}
}
/*END OF ANIMATION OF CHOICES*/



